/* styles.css */
body {
    background-color: #121212;
    color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 8px;
}

input[type="text"] {
    padding: 8px;
    width: 60%;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #222;
    color: #f0f0f0;
}

button {
    padding: 8px 16px;
    margin-top: 10px;
    background-color: #ff00ff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.artist-info img {
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
    border-radius: 8px;
}

#toggle-mode {
    margin-top: 20px;
}

.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.light-mode input[type="text"] {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #333;
}

.light-mode button {
    background-color: #3333ff;
}

#suggestions {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #444;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

#suggestions li {
    padding: 10px;
    cursor: pointer;
}

#suggestions li:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
